.rodape {
  height: 5vh;
  border: solid rgba(0, 0, 0, .15);
  margin: 0.2% 0.2% 0.2% 0.2%;
  border-width: 1px 0;
  background-color: rgb(151, 142, 142);
  font-size: 15px;
  padding-top: 0.9%;
  padding-left: 2%;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  color: rgb(7, 3, 1);
  text-align: center;
}

  
  